---
title: Verificação de conta do 8000038 GDPR filho
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 01/15/2019
ms.locfileid: "28274301"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="eafea-102">Data de nascimento exibido na sua conta da Microsoft está incorreta</span><span class="sxs-lookup"><span data-stu-id="eafea-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="eafea-p101">Microsoft leva muito a sério a segurança da conta. Talvez você recentemente ter sido solicitado a fornecer consentimento dos seus pais para conta da Microsoft de um filho. Se precisar de Ajuda, fornecendo consentimento dos seus pais ou atualizando a data de nascimento em uma conta da Microsoft, consulte [verificação de idade para consentimento dos seus pais](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="eafea-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="eafea-106">Saiba mais sobre o [consentimento dos pais e contas do Microsoft filho](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="eafea-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

