---
title: verificação EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205255"
---
# <a name="edu-verification"></a>verificação EDU

Na maioria dos casos, as solicitações de elegibilidade acadêmica são processadas dentro de 24 a 48 horas. Algumas solicitações podem exigir uma revisão mais completa de forma que seu processamento pode levar até 10 dias úteis. Após a conclusão, enviaremos um e-mail com o status de qualificação da sua escola.

**Importante** Se você saiu do assistente de verificação antes de entrar em um domínio, você pode [retomar o assistente de verificação acadêmica](https://go.microsoft.com/fwlink/p/?linkid=2135255) a qualquer momento durante o teste gratuito.

Se você deseja verificar o status do seu domínio, vá para o [Centro de administração do Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na página inicial, role para baixo e localize o cartão **Faturamento **. O cartão **Faturamento ** indica o status do processo de verificação (aprovado, pendente, recusado ou adicione seu domínio).

Se sua solicitação for negada, consulte [Minha escola não é qualificada. O que eu faço agora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)