---
title: verificação EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205255"
---
# <a name="edu-verification"></a><span data-ttu-id="68b30-102">verificação EDU</span><span class="sxs-lookup"><span data-stu-id="68b30-102">EDU verification</span></span>

<span data-ttu-id="68b30-103">Na maioria dos casos, as solicitações de elegibilidade acadêmica são processadas dentro de 24 a 48 horas.</span><span class="sxs-lookup"><span data-stu-id="68b30-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="68b30-104">Algumas solicitações podem exigir uma revisão mais completa de forma que seu processamento pode levar até 10 dias úteis.</span><span class="sxs-lookup"><span data-stu-id="68b30-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="68b30-105">Após a conclusão, enviaremos um e-mail com o status de qualificação da sua escola.</span><span class="sxs-lookup"><span data-stu-id="68b30-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="68b30-106">**Importante** Se você saiu do assistente de verificação antes de entrar em um domínio, você pode [retomar o assistente de verificação acadêmica](https://go.microsoft.com/fwlink/p/?linkid=2135255) a qualquer momento durante o teste gratuito.</span><span class="sxs-lookup"><span data-stu-id="68b30-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="68b30-107">Se você deseja verificar o status do seu domínio, vá para o [Centro de administração do Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="68b30-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="68b30-108">Na página inicial, role para baixo e localize o cartão \*\*Faturamento \*\*.</span><span class="sxs-lookup"><span data-stu-id="68b30-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="68b30-109">O cartão \*\*Faturamento \*\* indica o status do processo de verificação (aprovado, pendente, recusado ou adicione seu domínio).</span><span class="sxs-lookup"><span data-stu-id="68b30-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="68b30-110">Se sua solicitação for negada, consulte [Minha escola não é qualificada. O que eu faço agora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="68b30-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>