---
title: 8000038 RGPD verificação da conta de criança
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400957"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>A data de nascimento exibida na sua conta da Microsoft está incorreta

A Microsoft leva muito seriamente a segurança da conta. Você pode ter solicitado recentemente que forneça o consentimento dos pais para a conta da Microsoft de uma criança. Se você precisar de ajuda para fornecer o consentimento para os pais ou atualizar a data de nascimento em uma conta da Microsoft, confira [verificação de idade para o consentimento de pais](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Saiba mais sobre [o consentimento responsável e contas filhas da Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

