---
title: 8000038 verificação da conta filha do RGPD
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056982"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>A data de nascimento exibida em sua conta da Microsoft está incorreta

A Microsoft leva a segurança da conta muito a sério. Você pode ter sido solicitado recentemente a fornecer o consentimento dos pais para a conta da Microsoft de um filho. Se você precisar de ajuda para fornecer o consentimento dos pais ou atualizar a data de nascimento em uma conta da Microsoft, consulte Verificação de idade [para consentimento dos pais.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Saiba mais sobre [o consentimento dos pais e contas filho da Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  