---
title: 8000038 RGPD verificação da conta de criança
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764968"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>A data de nascimento exibida na sua conta da Microsoft está incorreta

A Microsoft leva muito seriamente a segurança da conta. Você pode ter solicitado recentemente que forneça o consentimento dos pais para a conta da Microsoft de uma criança. Se você precisar de ajuda para fornecer o consentimento para os pais ou atualizar a data de nascimento em uma conta da Microsoft, confira [verificação de idade para o consentimento de pais](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Saiba mais sobre [o consentimento responsável e contas filhas da Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  