---
title: 8000038 RGPD verificação da conta de criança
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387045"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="8f0ea-102">A data de nascimento exibida na sua conta da Microsoft está incorreta</span><span class="sxs-lookup"><span data-stu-id="8f0ea-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="8f0ea-103">A Microsoft leva muito seriamente a segurança da conta.</span><span class="sxs-lookup"><span data-stu-id="8f0ea-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="8f0ea-104">Você pode ter solicitado recentemente que forneça o consentimento dos pais para a conta da Microsoft de uma criança.</span><span class="sxs-lookup"><span data-stu-id="8f0ea-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="8f0ea-105">Se você precisar de ajuda para fornecer o consentimento para os pais ou atualizar a data de nascimento em uma conta da Microsoft, confira [verificação de idade para o consentimento de pais](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="8f0ea-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="8f0ea-106">Saiba mais sobre [o consentimento responsável e contas filhas da Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="8f0ea-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  