---
title: Solucionar problemas de verificação do Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: eb406eef2ac4e1bcebffcca91ec8706ac3c7a7f1b4c58a5da3a4e386b55700fb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 08/05/2021
ms.locfileid: "54007959"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemas relacionados à verificação do Publisher para desenvolvedores

**Etapas recomendadas** 

Para resolver problemas relacionados à verificação do Publisher, execute as etapas a seguir:

1. Revise os pré-requisitos e outros requisitos para garantir que todos eles sejam atendidos.
2. Revise as instruções para [marcar um aplicativo como verificado pelo Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) e garantir que todas as etapas sejam realizadas com sucesso.
3. Revise a lista de [problemas comuns](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) e siga as etapas recomendadas se você tiver um problema dessa lista.
4. Reproduza a solicitação usando o [Explorador do Graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) para coletar informações adicionais e descartar quaisquer problemas na IU.

**Documentos recomendados**

- [Verificação do Publisher - visão geral](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Marcar seu aplicativo como verificado pelo Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Solucionar problemas de verificação do Publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

