---
title: Solucionar problemas de verificação do Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875328"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="9d857-102">Problemas relacionados à verificação do Publisher para desenvolvedores</span><span class="sxs-lookup"><span data-stu-id="9d857-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="9d857-103">**Etapas recomendadas**</span><span class="sxs-lookup"><span data-stu-id="9d857-103">**Recommended steps**</span></span> 

<span data-ttu-id="9d857-104">Para resolver problemas relacionados à verificação do Publisher, execute as etapas a seguir:</span><span class="sxs-lookup"><span data-stu-id="9d857-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="9d857-105">Revise os pré-requisitos e outros requisitos para garantir que todos eles sejam atendidos.</span><span class="sxs-lookup"><span data-stu-id="9d857-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="9d857-106">Revise as instruções para [marcar um aplicativo como verificado pelo Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) e garantir que todas as etapas sejam realizadas com sucesso.</span><span class="sxs-lookup"><span data-stu-id="9d857-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="9d857-107">Revise a lista de [problemas comuns](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) e siga as etapas recomendadas se você tiver um problema dessa lista.</span><span class="sxs-lookup"><span data-stu-id="9d857-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="9d857-108">Reproduza a solicitação usando o [Explorador do Graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) para coletar informações adicionais e descartar quaisquer problemas na IU.</span><span class="sxs-lookup"><span data-stu-id="9d857-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="9d857-109">**Documentos recomendados**</span><span class="sxs-lookup"><span data-stu-id="9d857-109">**Recommended documents**</span></span>

- [<span data-ttu-id="9d857-110">Verificação do Publisher - visão geral</span><span class="sxs-lookup"><span data-stu-id="9d857-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="9d857-111">Marcar seu aplicativo como verificado pelo Publisher</span><span class="sxs-lookup"><span data-stu-id="9d857-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="9d857-112">Solucionar problemas de verificação do Publisher</span><span class="sxs-lookup"><span data-stu-id="9d857-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

